### 読込処理

In [3]:
import pandas as pd

df = pd.read_csv('../dataset/pokemon_status.csv', sep=',', encoding="shift-jis")

### CSVの先頭5行を表示すること(head()関数を使用)

In [4]:
df.head()

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
0,1,フシギダネ,くさ,どく,しんりょく,NaN,ようりょくそ,45,49,49,65,65,45,318.0
1,2,フシギソウ,くさ,どく,しんりょく,NaN,ようりょくそ,60,62,63,80,80,60,405.0
2,3,フシギバナ,くさ,どく,しんりょく,NaN,ようりょくそ,80,82,83,100,100,80,525.0
3,003-1,メガフシギバナ,くさ,どく,あついしぼう,NaN,NaN,80,100,123,122,120,80,625.0
4,4,ヒトカゲ,ほのお,NaN,もうか,NaN,サンパワー,39,52,43,60,50,65,309.0

### CSVの合計値が高い順5行を表示すること

In [9]:
df.sort_values(by='合計', ascending=True).head()

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
850,746,ヨワシ,みず,NaN,ぎょぐん,NaN,ぎょぐん,45,20,20,25,25,40,175.0
224,191,ヒマナッツ,くさ,NaN,ようりょくそ,サンパワー,はやおき,30,30,30,30,30,30,180.0
340,298,ルリリ,ノーマル,フェアリー,あついしぼう,ちからもち,そうしょく,50,20,40,20,40,20,190.0
464,401,コロボーシ,むし,NaN,だっぴ,NaN,にげあし,37,25,41,25,41,25,194.0
16,13,ビードル,むし,どく,りんぷん,NaN,にげあし,40,35,30,20,20,50,195.0

### CSVの合計値が低い順5行を表示すること

In [10]:
df.sort_values(by='合計', ascending=False).head()

,図鑑番号,ポケモン名,タイプ１,タイプ２,通常特性１,通常特性２,夢特性,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
444,384-1,メガレックウザ,ドラゴン,ひこう,デルタストリーム,NaN,NaN,105,180,100,180,100,115,780.0
181,150-1,メガミュウツーX,エスパー,かくとう,ふくつのこころ,NaN,NaN,106,190,100,154,100,130,780.0
182,150-2,メガミュウツーY,エスパー,NaN,ふみん,NaN,NaN,106,150,70,194,120,140,780.0
440,382-1,ゲンシカイオーガ,みず,NaN,はじまりのうみ,NaN,NaN,100,150,90,180,160,90,770.0
442,383-1,ゲンシグラードン,じめん,ほのお,おわりのだいち,NaN,NaN,100,180,160,150,90,90,770.0

### 列単位で欠損値の合計数を表示すること

In [13]:
df.isnull().sum()

図鑑番号       0
ポケモン名      0
タイプ１       0
タイプ２     422
通常特性１      0
通常特性２    451
夢特性      180
HP         0
こうげき       0
ぼうぎょ       0
とくこう       0
とくぼう       0
すばやさ       0
合計         2
dtype: int64

### 要約統計量を表示すること。欠損値は0として扱うこと(describe()関数を使用)

In [15]:
df.fillna(0).describe()

,HP,こうげき,ぼうぎょ,とくこう,とくぼう,すばやさ,合計
count,909.000000,909.000000,909.000000,909.000000,909.000000,909.000000,909.000000
mean,69.500550,79.588559,74.239824,72.844884,72.229923,69.191419,435.383938
std,26.129406,32.307139,30.922023,32.804674,27.944386,36.750509,121.016642
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,0.000000
25%,50.000000,55.000000,50.000000,50.000000,50.000000,45.000000,330.000000
50%,66.000000,75.000000,70.000000,65.000000,70.000000,65.000000,455.000000
75%,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,515.000000
max,255.000000,190.000000,230.000000,194.000000,230.000000,600.000000,780.000000